# CODEOWNERS — auto-review requests for PRs.
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @hamzathul
